._py-50{
  padding: 50px 0;
}

._bg-blue{
  background-color: #2c3e50;
}

._bg-green{
  background-color: #1abc9c;
}

._bg-lightblue{
  background-color: #3a546d;
}

._btn{
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

._btn:hover{
  background-color: white;
  color: black;
}

._line{
  height: 3px;
  border-radius: 10px;
  margin-top: 12px;
}

._bg-white{
  background-color: white;
}

._bg-black{
  background-color: black;
}

.fa-star{
  font-size: 30px;
  margin-bottom: 20px;
}

._overlay{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.5);
}

._overlay i{
  position: absolute;
  font-size: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

._image:hover ._overlay{
  display: block;
  cursor: pointer;
}

/* HEADER */
._header-top{
  height: 80px;
  color: white;
}

._menu-title h3{
  line-height: 80px;
  font-size: 22px;
  font-weight: 700;
}

._li-menu li{
  line-height: 80px;
  padding: 0 10px;
}

._li-menu li a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

._li-menu li a:hover{
  border-bottom: 1px solid white;
}

.fas.fa-bars{
  font-size: 25px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* junbotron */
._junbotron{
  color: white;
  margin-top: 80px;
  min-height: 300px;
}

._inner-junbo{
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
}

._content-junbo{
  padding: 30px 0;
}

._content-junbo img{
  width: 30%;
  margin-bottom: 15px;
}

/* MAIN */

._container-60{
  width: 60%;
  margin: 0 auto;
}

/* portfolio */
._portfolio{
  min-height: 500px;
}

._box{
  margin: 10px;
}

._box img{
  width: 100%;
  border-radius: 10px;
}

/* about */
._about{
  color: white;
}

/* contact */
form{
  padding-top: 20px;
}

.dt-custom-border{
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}

.dt-bg-green{
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

/* FOOTER */
._info{
  color: white;
}

._info ._social i{
font-size: 20px;
border: 1px solid white;
border-radius: 50%;
padding: 3%;
margin: 0 5px;
cursor: pointer;
}

._info p a{
  text-decoration: none;
  color: #1abc9c;
}

._info p a:hover{
  color: #1a8b75;
  border-bottom: 1px solid #1a8b75;
}

._copyright{
  min-height: 60px;
  padding: 30px 0;
  color: white;
  text-align: center;
}