._py-50{
  padding: 50px 0;
}

._bg-blue{
  background-color: #2c3e50;
}

._bg-green{
  background-color: #1abc9c;
}

._bg-lightblue{
  background-color: #3a546d;
}

._header-top{
  height: 80px;
  color: white;
}

._junbotron{
  color: white;
  margin-top: 80px;
  min-height: 300px;
}

._inner-junbo{
  background-color: thistle;
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
}

._portfolio{
  min-height: 500px;
}

._container-60{
  width: 60%;
  margin: 0 auto;
}

._square{
  margin: 10px;
}

._square img{
  width: 100%;
  border-radius: 10px;
}

._about{
  color: white;
}

form{
  padding-top: 20px;
}

.dt-custom-border{
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}

.dt-bg-green{
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

._info{
  min-height: 150px;
}

._copyright{
  min-height: 60px;
  padding: 30px 0;
  color: white;
  text-align: center;
}